@font-face { font-family: cocogoose; src: url(../fonts/Cocogoose_trial.otf); }

@media only screen and (min-width: 768px) {
  body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
  }

  .navbar {
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .main-content {
    position: relative;
  }

  .nav-item:hover {
    color: #ec5242 !important;
    cursor: pointer;
  }

  .first-nav {
    background-color: #272a31;
  }

  .first-nav .fab {
    padding-top: 5px;
  }

  .first-nav a {
    color: #fff !important;
    font-size: 0.8rem;
  }

  .campaign a {
    border: 2px solid red;
    margin-top: 2px;
    color: red;
  }

  .second-nav {
    background-color: #fff;

    /* padding: 10px 10px; */
  }

  .second-nav a {
    color: #5f6063;
  }

  .introduction {
    background-image: url("./assets/main-background.png");
    background-repeat: repeat-x;
    background-position: center center;
    z-index: 0;
    margin-top: 0;
    padding-right: 10rem;
  }

  .museum-history {
    margin-right: 10rem;
  }

  .intro-greeting {
    margin-top: 130px;
    font-size: 50px;
    font-weight: 300;
  }

  .intro-tag {
    font-family: cocogoose, sans-serif;
    color: red;
    font-size: 55px;
    font-weight: 900;
  }

  .intro-explanation {
    align-items: center;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(247, 247, 248);
  }

  .intro-time {
    font-size: 20px;
    font-weight: 600;
  }

  .intro-footer {
    font-size: 15px;
    font-weight: 200;
  }

  h1 {
    color: red !important;
    font-size: large;
  }

  .program {
    background-image: url("./assets/cardPatternBg.png");
    background-color: rgb(39, 42, 50);
    padding: 10vh 0;
  }

  .card {
    border: none;
  }

  .program .card {
    border: 2px solid transparent;
    background-color: #fff1;
    text-align: center;
    margin: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .program .card:hover {
    border: 2px solid white;
  }

  .partner-images img {
    width: 150px;
    object-fit: contain;
    filter: grayscale(100%);
  }

  .program .card img {
    width: 60px;
    margin: auto;
  }

  .program .card h5 {
    color: #ec5242;
  }

  .centered-hr {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .program .card p {
    color: #fff;
    font-size: 0.9rem;
  }

  .program-title {
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .program-schedule {
    color: white;
    text-align: center;
    text-decoration: underline;
  }

  .partners {
    background-color: #272a31;
    padding: 7vh 0;
  }

  .partner-title {
    text-align: center;
    font-size: 24px;
    color: #5f6063;
  }

  .partner-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer {
    background-color: #d3d3d3;
    padding: 8vh 0;
  }

  hr {
    background-color: red;
    height: 2px !important;
    width: 40px !important;
    align-self: center;
    text-align: center;
    margin-top: 0;
  }

  .divider {
    background-color: red;
    height: 2px !important;
    width: 40px !important;
    align-content: center;
  }

  .guests-title {
    text-align: center;
    margin-top: 25px;
  }

  .guest-profession {
    color: red;
  }

  .speaker {
    display: none;
  }

  .btn-program {
    display: none;
  }

  .btn-primary {
    display: none;
  }

  .card-title {
    font-weight: bolder;
  }

  .card-title,
  .card-description {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding: 5px;
    overflow-x: hidden;
    position: relative;
  }

  .intro-greeting {
    margin-top: 90px;
    color: red;
  }

  .intro-tag {
    color: red;
    margin-right: 10rem;
    font-size: 45px;
    font-weight: 900;
  }

  .second-nav {
    background-color: transparent;
  }

  .navbar-toggler {
    display: block;
    font-size: 2em;
    box-shadow: none !important;
    text-align: left;
    outline: none !important;
    padding: 0;
  }

  .navbar {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .main-content {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .introduction {
    background-image: url("./assets/main-background.png");
    background-repeat: repeat-x;
    background-position: center center;
    z-index: 0;
    padding-right: 10rem;
    margin: 0;
    width: auto;
  }

  .campaign a {
    outline: none;
    border: none !important;
    color: #5f6063 !important;
  }

  .intro-explanation {
    width: 100%;
  }

  .hide-sm {
    display: none;
  }

  .program {
    background-image: url("./assets/cardPatternBg.png");
    background-color: rgb(39, 42, 50);
    padding: 5vh 20px;
  }

  .card {
    border: none;
  }

  .program .card {
    border: 2px solid transparent;
    background-color: #fff1;
    text-align: center;
    margin: 2px;
  }

  .program .card:hover {
    border: 2px solid white;
  }

  .partner-images img {
    width: 150px;
    object-fit: contain;
    filter: grayscale(100%);
  }

  .program .card img {
    width: 60px;
    margin: auto;
  }

  .schedule-card h5 {
    font-size: 0.8rem;
    margin-right: 10px;
  }

  .schedule-card p {
    font-size: 0.7rem !important;
  }

  .program .card h5 {
    color: #ec5242;
  }

  .centered-hr {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .program .card p {
    color: #fff;
    font-size: 0.9rem;
  }

  .program-title {
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .program-schedule {
    color: white;
    text-align: center;
    text-decoration: underline;
  }

  .speaker {
    display: flex;
    flex-direction: row;
  }

  .schedule-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card-body {
    display: flex;
    flex-direction: row !important;
  }

  .schedule-card .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .guest-card {
    display: flex;
  }

  .guest-card > * {
    width: 50%;
  }

  .btn-group {
    width: 100%;
  }

  .btn-program {
    background-color: #ec5242;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 4px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .btn-primary {
    display: block;
    background-color: white;
    border-color: black;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 100%;
  }

  .closeIcon {
    display: none;
    width: 12px;
    height: 12px;
    size: 30;
    margin: 15px;
    margin-bottom: 50px;
  }

  .menuItem {
    font-style: medium;
    font-size: 24px;
    color: black;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    display: block;
  }

  .showMenu {
    transform: translateY(0);
  }

  .menu {
    background-color: #fff;
    z-index: 3;
  }

  /* Speaker Hidden */
  .speaker-hidden {
    display: none;
  }
}
